<% if @result %>
<% case @result.status %>
<% when 0 %>
    <div class="message jumbotron">
        <h1>Hello, <%= @result.full_name %>!</h1>
        <p>Your application is being reviewed.</p>
    </div>
<% when 1 %>
    <div class="message jumbotron">
        <h1>Hello, <%= @result.full_name %>!</h1>
        <p>Congratulations! We have decided to move your application forward. Please choose an interview time that works for you.</p>
    </div>
<% when 2 %>
    <div class="message jumbotron">
        <h1>Congratulations, <%= @result.full_name %>!</h1>
        <p>You have been accepted to ASES Summit 2015.</p>
    </div>
<% else %>
    <div class="message jumbotron">
        <h1>Hello, <%= @result.full_name %>,</h1>
        <p>Unfortunately, we were unable to accept you this year.</p>
    </div>
<% end %>
<% else %>
	<% if params[:code] %>
        <div class="incorrect">Sorry, the code you entered was incorrect!</div>
	<% end %>
  <div class="wrapper">
    <form class="form-signin">       
      <h2 class="login form-signin-heading">Please login</h2>
      <input type="text" class="input form-control" name="code" placeholder="Enter your code..." required="" autofocus="" />
      <button class="submit btn btn-lg btn-primary btn-block" type="submit">Submit</button>   
    </form>
  </div>

                <!--<form id="code" method="GET">-->
<!--                    <input name="code" type="text" placeholder="Enter your code...">
                    <input type="submit">
                </form>-->

<% end %>