<% if @result %>
<% case @result.status %>
<% when 0 %>
    Your application is being reviewed.
<% when 1 %>
    Congratulations! We have decided to move your application forward. Please choose an interview time that works for you.
<% when 2 %>
    Accepted
<% else %>
    Rejected
<% end %>
<% else %>
	<% if params[:code] %>
		Sorry, the code you entered was incorrect!
	<% end %>
  <div class="wrapper">
    <form class="form-signin">       
      <h2 class="login" class="form-signin-heading">Please login</h2>
      <input type="text" class="input" class="form-control" name="code" placeholder="Enter your code..." required="" autofocus="" />
      <button class="submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>   
    </form>
  </div>

                <!--<form id="code" method="GET">-->
<!--                    <input name="code" type="text" placeholder="Enter your code...">
                    <input type="submit">
                </form>-->

<% end %>